 {% extends "base.twig" %}  
 {% block main %}
 <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id Tema</th>
      <th scope="col">Nombre del tema</th>
      
    </tr>
  </thead>
  <tbody>
      
      {% for tema in listaTemas %}
        <tr>
      <th >{{tema.getId_tema}}</th>
      <td>{{tema.getNombre_tema}}</td>
     
      
    </tr>
      {% endfor %}
    
  </tbody>
</table>
<br/>
<form method = "post">
  <div class="form-group">
    <label for="nombreTema">Nombre del nuevo tema </label>
    <input type="text" class="form-control" id="nombreTema" name = "nombreTema" aria-describedby="temaAyuda" placeholder="Escribe el nombre del tema">
    <small id="temaAyuda" class="form-text text-muted">Por favor escribe el nombre del nuevo tema.</small>
  </div>
  
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
 {% endblock %}